/*ローディング*/
.icon_loading{
    position: fixed;
    top: 50vh;
    left: 50vw;
}
#icon_loading{
    display: block;
}
#main_todo{
    display: none;
}


/*タイトル*/
.title{
    width: 100%;
    font-size: 7vw;
}
.title_group{
    width: 70%;
    margin: 2rem auto;
    position: relative;
}
.title::after{
    content:'';
    display: block;
    width: 42vw;
    height: 3.5vw;
    background: yellow;
    border-radius: 5px;
    z-index: -1;
    position: absolute;
    bottom: 10px;
    left: -10px;
    opacity: 0.5;
}

/*リスト*/
.ul_todo{
    list-style: none;
    margin:0 auto 30px;
    padding: 0;
}
.ul_todo li{
    width: 70%;
    padding: 2rem 0;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
}
.ul_todo li::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background:#a1a3a6;
    position: absolute;
    bottom: 0;
}

/*完了ボタン、変更ボタン、追加ボタン（共通）*/
.button{
    margin: 1rem 0;
    background:transparent;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
}
.button,
.button::after{
    transition: all 0.3s ease-in-out;
}
.button::before,
.button::after{
    /*background: red;*/
    content: '';
    position: absolute;
    z-index: -1;
}
.button:hover{
    color:white;
}
.button::after{
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}
.button:hover::after {
    width: 100%;
}
.button:focus{
    outline:none;
}

/*完了ボタン*/
.button_delete{
    border: solid 2px red;
    color: red;
}
.button_delete::before,
.button_delete::after{
    background: red;
}

/*変更ボタン*/
.button_change{
    border: solid 2px lawngreen;
    color: lawngreen;
    margin: 1rem;
}
.button_change::before,
.button_change::after{
    background: lawngreen;
}

/*追加ボタン*/
.button_add{
    border: solid 2px deepskyblue;
    color: deepskyblue;
    background: white;
    display: block;
    margin: 0 1rem;
    z-index: -2;
}
.button_add::before,
.button_add::after{
    background: deepskyblue;
}

/*ボタンの位置（リスト）*/
.btn_list_position{
    position:absolute;
    right: 0;
    top: 4px;
}

/*ボタンの位置（入力）*/
.button_input_position{
    position: absolute;
    top: 14px;
    right: 0px;
    z-index: 100;
}


/*入力要素*/

.input_todo{
    width: 70%;
    position: relative;
    margin: 3rem auto 4rem;
}
.input_todo input[type="text"]{
    width : 100%;
    padding: 16px 0;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    border: solid 2px #00aeef;
    word-break: keep-all;
    white-space: normal;
}
::-webkit-input-placeholder{
    font-size: 2rem;
    padding-left: 0.5rem;
    color: #bfc5ca;
}
.input_todo input[type="text"]:focus{
    border: solid 2px #00aeef;
    outline: none;
    background: rgba(173,224,238,0.3);
}
.input_todo input[type="text"]:active{
    outline: none;
}


/*メディアクエリ　768pxより小さい場合*/
@media screen and (max-width: 720px){
    .title_group{
        width: 80%;
        margin: 1rem auto;
        position: relative;
    }
    .title::after{
        bottom: 6px;
        left: -3px;
        height: 2.5vw;
    }
    .ul_todo li{
        width: 80%;
        padding: 1rem 0;
        font-size: 1rem;
    }

    .btn_list_position{
        font-weight: normal;
        top: -2px;
    }

    .button{
        font-size: 0.6rem;
        padding: 0.3rem 0.5rem;

    }
    .button_delete{
        border: solid 1px red;
    }
    .button_change{
        border: solid 1px lawngreen;
        margin: 1rem 0.5rem;
    }
    .button_add{
        border: solid 1px deepskyblue;
        margin: 0 0.5rem;
    }

    .input_todo{
        width: 80%;
    }

    .input_todo input[type="text"]{
        padding: 1rem 0;
        font-size: 1rem;
    }

    .button_input_position{
        top: 14px;
    }
    ::-webkit-input-placeholder{
        font-size: 1rem;
        padding-left: 0.5rem;
        color: #bfc5ca;
    }
}


